body {
    font-family: Geist, sans-serif;
    margin: 40px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.section-title {
    color:green;
}
.job{
    color: blue;
    font-size: 18px;
    margin-bottom: 2px;
}
.content{
    margin-bottom: 4px;
    margin-top: 2px;
}